.green{
    border: 1px solid black;
    background-color: green;
    width: 50px;
    height: 50px;
    margin-top: 25px;
    margin-right: 5px;
}

.yellow{
    border: 1px solid black;
    background-color: yellow;
    width: 50px;
    height: 50px;
    margin-bottom: 15px;
    margin-right: 5px;
}
.boxes{
    display: flex;
}